<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Disabled Sonar Rules" Description=" " ToolsVersion="15.0">
  <Include Path="tranquirecsharp.ruleset" Action="Default" />
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <Rule Id="S1006" Action="None" />
    <Rule Id="S101" Action="None" />
    <Rule Id="S1048" Action="None" />
    <Rule Id="S1066" Action="None" />
    <Rule Id="S107" Action="None" />
    <Rule Id="S1075" Action="None" />
    <Rule Id="S108" Action="None" />
    <Rule Id="S110" Action="None" />
    <Rule Id="S1104" Action="None" />
    <Rule Id="S1110" Action="None" />
    <Rule Id="S1116" Action="None" />
    <Rule Id="S1117" Action="None" />
    <Rule Id="S1118" Action="None" />
    <Rule Id="S112" Action="None" />
    <Rule Id="S1121" Action="None" />
    <Rule Id="S1123" Action="None" />
    <Rule Id="S1125" Action="None" />
    <Rule Id="S1134" Action="None" />
    <Rule Id="S1135" Action="None" />
    <Rule Id="S1144" Action="None" />
    <Rule Id="S1155" Action="None" />
    <Rule Id="S1163" Action="None" />
    <Rule Id="S1168" Action="None" />
    <Rule Id="S1172" Action="None" />
    <Rule Id="S1185" Action="None" />
    <Rule Id="S1186" Action="None" />
    <Rule Id="S1206" Action="None" />
    <Rule Id="S1210" Action="None" />
    <Rule Id="S1215" Action="None" />
    <Rule Id="S125" Action="None" />
    <Rule Id="S1264" Action="None" />
    <Rule Id="S1450" Action="None" />
    <Rule Id="S1479" Action="None" />
    <Rule Id="S1481" Action="None" />
    <Rule Id="S1607" Action="None" />
    <Rule Id="S1643" Action="None" />
    <Rule Id="S1656" Action="None" />
    <Rule Id="S1699" Action="None" />
    <Rule Id="S1751" Action="None" />
    <Rule Id="S1764" Action="None" />
    <Rule Id="S1848" Action="None" />
    <Rule Id="S1854" Action="None" />
    <Rule Id="S1862" Action="None" />
    <Rule Id="S1871" Action="None" />
    <Rule Id="S1905" Action="None" />
    <Rule Id="S1939" Action="None" />
    <Rule Id="S1940" Action="None" />
    <Rule Id="S1944" Action="None" />
    <Rule Id="S2068" Action="None" />
    <Rule Id="S2114" Action="None" />
    <Rule Id="S2123" Action="None" />
    <Rule Id="S2178" Action="None" />
    <Rule Id="S2183" Action="None" />
    <Rule Id="S2184" Action="None" />
    <Rule Id="S2187" Action="None" />
    <Rule Id="S2190" Action="None" />
    <Rule Id="S2201" Action="None" />
    <Rule Id="S2219" Action="None" />
    <Rule Id="S2223" Action="None" />
    <Rule Id="S2225" Action="None" />
    <Rule Id="S2234" Action="None" />
    <Rule Id="S2259" Action="None" />
    <Rule Id="S2275" Action="None" />
    <Rule Id="S2278" Action="None" />
    <Rule Id="S2290" Action="None" />
    <Rule Id="S2291" Action="None" />
    <Rule Id="S2292" Action="None" />
    <Rule Id="S2306" Action="None" />
    <Rule Id="S2326" Action="None" />
    <Rule Id="S2328" Action="None" />
    <Rule Id="S2342" Action="None" />
    <Rule Id="S2344" Action="None" />
    <Rule Id="S2345" Action="None" />
    <Rule Id="S2346" Action="None" />
    <Rule Id="S2365" Action="None" />
    <Rule Id="S2368" Action="None" />
    <Rule Id="S2372" Action="None" />
    <Rule Id="S2376" Action="None" />
    <Rule Id="S2386" Action="None" />
    <Rule Id="S2437" Action="None" />
    <Rule Id="S2486" Action="None" />
    <Rule Id="S2583" Action="None" />
    <Rule Id="S2589" Action="None" />
    <Rule Id="S2681" Action="None" />
    <Rule Id="S2688" Action="None" />
    <Rule Id="S2692" Action="None" />
    <Rule Id="S2696" Action="None" />
    <Rule Id="S2737" Action="None" />
    <Rule Id="S2743" Action="None" />
    <Rule Id="S2757" Action="None" />
    <Rule Id="S2758" Action="None" />
    <Rule Id="S2761" Action="None" />
    <Rule Id="S2930" Action="None" />
    <Rule Id="S2933" Action="None" />
    <Rule Id="S2934" Action="None" />
    <Rule Id="S2953" Action="None" />
    <Rule Id="S2971" Action="None" />
    <Rule Id="S2995" Action="None" />
    <Rule Id="S2996" Action="None" />
    <Rule Id="S2997" Action="None" />
    <Rule Id="S3005" Action="None" />
    <Rule Id="S3010" Action="None" />
    <Rule Id="S3060" Action="None" />
    <Rule Id="S3168" Action="None" />
    <Rule Id="S3169" Action="None" />
    <Rule Id="S3172" Action="None" />
    <Rule Id="S3217" Action="None" />
    <Rule Id="S3218" Action="None" />
    <Rule Id="S3220" Action="None" />
    <Rule Id="S3236" Action="None" />
    <Rule Id="S3237" Action="None" />
    <Rule Id="S3241" Action="None" />
    <Rule Id="S3244" Action="None" />
    <Rule Id="S3246" Action="None" />
    <Rule Id="S3247" Action="None" />
    <Rule Id="S3249" Action="None" />
    <Rule Id="S3251" Action="None" />
    <Rule Id="S3256" Action="None" />
    <Rule Id="S3261" Action="None" />
    <Rule Id="S3262" Action="None" />
    <Rule Id="S3263" Action="None" />
    <Rule Id="S3264" Action="None" />
    <Rule Id="S3265" Action="None" />
    <Rule Id="S3343" Action="None" />
    <Rule Id="S3346" Action="None" />
    <Rule Id="S3358" Action="None" />
    <Rule Id="S3376" Action="None" />
    <Rule Id="S3397" Action="None" />
    <Rule Id="S3415" Action="None" />
    <Rule Id="S3427" Action="None" />
    <Rule Id="S3433" Action="None" />
    <Rule Id="S3440" Action="None" />
    <Rule Id="S3442" Action="None" />
    <Rule Id="S3443" Action="None" />
    <Rule Id="S3444" Action="None" />
    <Rule Id="S3445" Action="None" />
    <Rule Id="S3447" Action="None" />
    <Rule Id="S3449" Action="None" />
    <Rule Id="S3450" Action="None" />
    <Rule Id="S3451" Action="None" />
    <Rule Id="S3453" Action="None" />
    <Rule Id="S3456" Action="None" />
    <Rule Id="S3457" Action="None" />
    <Rule Id="S3458" Action="None" />
    <Rule Id="S3459" Action="None" />
    <Rule Id="S3464" Action="None" />
    <Rule Id="S3466" Action="None" />
    <Rule Id="S3597" Action="None" />
    <Rule Id="S3598" Action="None" />
    <Rule Id="S3600" Action="None" />
    <Rule Id="S3603" Action="None" />
    <Rule Id="S3604" Action="None" />
    <Rule Id="S3610" Action="None" />
    <Rule Id="S3626" Action="None" />
    <Rule Id="S3649" Action="None" />
    <Rule Id="S3655" Action="None" />
    <Rule Id="S3693" Action="None" />
    <Rule Id="S3776" Action="None" />
    <Rule Id="S3869" Action="None" />
    <Rule Id="S3871" Action="None" />
    <Rule Id="S3875" Action="None" />
    <Rule Id="S3877" Action="None" />
    <Rule Id="S3881" Action="None" />
    <Rule Id="S3884" Action="None" />
    <Rule Id="S3885" Action="None" />
    <Rule Id="S3887" Action="None" />
    <Rule Id="S3889" Action="None" />
    <Rule Id="S3897" Action="None" />
    <Rule Id="S3903" Action="None" />
    <Rule Id="S3904" Action="None" />
    <Rule Id="S3925" Action="None" />
    <Rule Id="S3926" Action="None" />
    <Rule Id="S3927" Action="None" />
    <Rule Id="S3928" Action="None" />
    <Rule Id="S3966" Action="None" />
    <Rule Id="S3971" Action="None" />
    <Rule Id="S3972" Action="None" />
    <Rule Id="S3981" Action="None" />
    <Rule Id="S3984" Action="None" />
    <Rule Id="S3998" Action="None" />
    <Rule Id="S4015" Action="None" />
    <Rule Id="S4016" Action="None" />
    <Rule Id="S4019" Action="None" />
    <Rule Id="S4035" Action="None" />
    <Rule Id="S4144" Action="None" />
    <Rule Id="S4158" Action="None" />
    <Rule Id="S4159" Action="None" />
    <Rule Id="S4200" Action="None" />
    <Rule Id="S4210" Action="None" />
    <Rule Id="S4214" Action="None" />
    <Rule Id="S4220" Action="None" />
    <Rule Id="S4260" Action="None" />
    <Rule Id="S4277" Action="None" />
    <Rule Id="S4428" Action="None" />
    <Rule Id="S818" Action="None" />
    <Rule Id="S907" Action="None" />
    <Rule Id="S927" Action="None" />
  </Rules>
</RuleSet>