version: '{build}'
branches:
  only:
  - master
image: Visual Studio 2017
configuration: Release
environment:
  sonarqube_token:
    secure: +bTyY1Z6fmq32MMiKCXXmbMo1fTlP2AwbbOs7FaFKJJ13wcyTVP121vKX3OJITIt
  tranquire_bot:
    secure: z9O00Ripejk/+QayghdxD4u5974h2DJgBuDCv0FGZPmFyRfak+fWj1DYHQT8zoaC
before_build:
- |- # Restore TWICE. See https://github.com/AArnott/Nerdbank.GitVersioning/issues/113#issuecomment-285903085
  msbuild src\Tranquire.sln /nologo /m /v:quiet /t:restore > nul
  msbuild src\Tranquire.sln /nologo /m /v:quiet /t:restore
- choco install "msbuild-sonarqube-runner" -y
- choco install "opencover.portable"  -y
- choco install "saxonHE" -y
- refreshenv
- ps: if ($env:APPVEYOR_PULL_REQUEST_NUMBER) { SonarScanner.MSBuild.exe begin /d:"sonar.login=$env:sonarqube_token" /o:"galad-github" /k:"Tranquire" /d:"sonar.host.url=https://sonarcloud.io" /d:"sonar.exclusions=src/**/obj/**" /v:"$env:GitBuildVersion" /d:"sonar.analysis.mode=preview" /d:"sonar.github.pullRequest=$env:APPVEYOR_PULL_REQUEST_NUMBER" /d:"sonar.github.repository=Galad/tranquire" /d:"sonar.github.oauth=$env:tranquire_bot" /d:"sonar.testExecutionReportPaths=TestResults-SonarFormat.xml" /d:"sonar.cs.opencover.reportsPaths=opencover.xml"}
- ps: if (-Not $env:APPVEYOR_PULL_REQUEST_NUMBER) { SonarScanner.MSBuild.exe begin /d:"sonar.login=$env:sonarqube_token" /o:"galad-github" /k:"Tranquire" /d:"sonar.host.url=https://sonarcloud.io" /d:"sonar.exclusions=src/**/obj/**" /v:"$env:GitBuildVersion" /d:"sonar.testExecutionReportPaths=TestResults-SonarFormat.xml" /d:"sonar.cs.opencover.reportsPaths=opencover.xml"}
build_script:
- msbuild src\Tranquire.sln /nologo /m /v:minimal /t:build,pack
- ps: 
test_script:
- ps: OpenCover.Console.exe -output:"opencover.xml" -register:user -target:"vstest.console.exe" -targetargs:"src\Tranquire.Tests\bin\Release\net462\Tranquire.Tests.dll src\Tranquire.Selenium.Tests\bin\Release\net462\Tranquire.Selenium.Tests.dll src\ToDoList.Specifications\bin\Release\net462\ToDoList.Specifications.dll /Logger:trx /Logger:AppVeyor"
after_test:
- ps: $item = (Get-ChildItem TestResults | Select-Object -First 1).FullName
- ps: transform -s:$item -xsl:"https://raw.githubusercontent.com/Galad/trxToSonarQubeXslt/master/trxToSonarQubeGenericTestData.xsl" -o:"TestResults-SonarFormat.xml" solutionFolder="C:\Users\galad\Source\Repos\Tranquire\src" projectNames="Tranquire.Tests,Tranquire.Selenium.Tests,ToDoList.Specifications"
- ps: SonarScanner.MSBuild.exe end /d:"sonar.login=$env:sonarqube_token"
artifacts:  
  - path: Packages\$(configuration)\*.nupkg
    
deploy:
- provider: NuGet
  api_key:
    secure: 55uxvHMTDwA2bAKpOX6Wjb/t5eTUsLhsZfJukyEyCboW3c/ZnWHJaz6UeRdPRKVX
  on:
    branch: master